/* ТЕЛЕФОНЫ */
@media only screen and (max-width: 480px) {

    /* INDEX PAGE START */
    .container {
        width: 90%;
    }

    .svg_main_logo {
        width: 225px;
    }

    .main_title {
        font-size: 15px;
    }

    .products_title {
        font-size: 21px;
    }

    .card_list {
        justify-content: center;
    }

    /* INDEX PAGE END */



    /* PRODUCT PAGE START */
    .product_img {
        width: 250px;
        height: 250px;
    }

    .product_info,
    .playlist {
        width: 250px;
    }

    /* PRODUCT PAGE END */



    /* REGISTER PAGE START */
    .register_title {
        font-size: 28px;
    }

    /* REGISTER PAGE END */



    /* LOGIN PAGE START */
    .login_title {
        font-size: 28px;
    }

    /* LOGIN PAGE END */



    /* BASKET PAGE START */
    .basket_title {
        font-size: 28px;
    }

    .basket_product_mobile {
        justify-content: space-between;
    }

    .basket_product_info {
        margin-right: 0;
    }

    .basket_btn_redirect {
        margin-top: 25px;
    }

    /* BASKET PAGE END */



    /* PRODUCTS PAGE START */
    .products_page_title {
        font-size: 28px;
    }

    .filter_result {
        font-size: 21px;
    }

    /* PRODUCTS PAGE END */



    /* PROFILE PAGE START */
    .profile_title {
        font-size: 28px;
    }

    .profile_orders_title {
        font-size: 21px;
    }

    /* PROFILE PAGE END */



    /* SEARCH INPUT START */
    .search_input_header {
        width: calc(100% - 40px);
    }

    /* SEARCH INPUT END */


    /* INPUT ERROR START */
    .input_error {
        font-size: 10px;
    }

    /* INPUT ERROR END */



    /* ERROR PAGE START */
    .error_code {
        font-size: 90px;
    }

    /* ERROR PAGE END */
}



/* ПЛАНШЕТЫ */
@media only screen and (min-width: 480px) and (max-width: 768px) {

    /* INDEX PAGE START */
    .container {
        width: 90%;
    }

    .svg_main_logo {
        width: 275px;
    }

    .main_title {
        font-size: 17px;
    }

    .products_title {
        font-size: 25px;
    }

    .card_list {
        justify-content: center;
    }

    /* INDEX PAGE END */



    /* PRODUCT PAGE START */
    .product_img {
        width: 300px;
        height: 300px;
    }

    .product_info,
    .playlist {
        width: 300px;
    }

    /* PRODUCT PAGE END */



    /* REGISTER PAGE START */
    .register_title {
        font-size: 32px;
    }

    /* REGISTER PAGE END */



    /* LOGIN PAGE START */
    .login_title {
        font-size: 32px;
    }

    /* LOGIN PAGE END */



    /* BASKET PAGE START */
    .basket_title {
        font-size: 32px;
    }

    .basket_btn_redirect {
        margin-top: 40px;
    }

    /* BASKET PAGE END */

    /* PRODUCTS PAGE START */
    .products_page_title {
        font-size: 32px;
    }

    .filter_result {
        font-size: 25px;
    }

    /* PRODUCTS PAGE END */



    /* PROFILE PAGE START */
    .profile_title {
        font-size: 32px;
    }

    .profile_orders_title {
        font-size: 25px;
    }

    /* PROFILE PAGE END */



    /* SEARCH INPUT START */
    .search_input_header {
        width: calc(100% - 100px);
    }

    /* SEARCH INPUT END */



    /* INPUT ERROR START */
    .input_error {
        font-size: 11px;
    }

    /* INPUT ERROR END */


    /* ERROR PAGE START */
    .error_code {
        font-size: 100px;
    }

    /* ERROR PAGE END */
}



/* ДЕСКТОП (НЕБОЛЬШИЕ ЭКРАНЫ) / АЛЬБОМНОЕ РАСПОЛОЖЕНИЕ ПЛАНШЕТОВ */
@media only screen and (min-width: 768px) and (max-width: 1280px) {

    /* INDEX PAGE START */
    .container {
        width: 85%;
    }

    .svg_main_logo {
        width: 375px;
    }

    .main_title {
        font-size: 19px;
    }

    .products_title {
        font-size: 29px;
    }

    /* INDEX PAGE END */



    /* PRODUCT PAGE START */
    .product_img {
        width: 325px;
        height: 325px;
    }

    .product_info {
        width: 325px;
        height: 325px;
    }

    .playlist {
        width: 325px;
    }

    /* PRODUCT PAGE END */



    /* REGISTER PAGE START */
    .register_title {
        font-size: 36px;
    }

    /* REGISTER PAGE END */



    /* LOGIN PAGE START */
    .login_title {
        font-size: 36px;
    }

    /* LOGIN PAGE END */



    /* BASKET PAGE START */
    .basket_title {
        font-size: 36px;
    }

    .basket_section_operation_product {
        width: 350px;
    }

    .basket_product_operation {
        width: 350px;
    }

    /* BASKET PAGE END */



    /* PRODUCTS PAGE START */
    .products_page_title {
        font-size: 36px;
    }

    .filter_result {
        font-size: 29px;
    }

    /* PRODUCTS PAGE END */



    /* PROFILE PAGE START */
    .profile_title {
        font-size: 36px;
    }

    .profile_orders_title {
        font-size: 29px;
    }

    /* PROFILE PAGE END */



    /* SEARCH INPUT START */
    .search_input_header {
        width: 650px;
    }

    /* SEARCH INPUT END */



    /* INPUT ERROR START */
    .input_error {
        font-size: 12px;
    }

    /* INPUT ERROR END */



    /* ERROR PAGE START */
    .error_code {
        font-size: 125px;
    }

    /* ERROR PAGE END */
}



/* ПРОЧЕЕ */
@media (max-width: 820px) {

    /* FOOTER START */
    footer {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .information_company {
        order: 3;
    }

    .contact {
        order: 2;
    }

    /* FOOTER END */



    /* BASKET START */
    .before_product {
        display: none;
    }

    .basket_title_section_product {
        display: none;
    }

    .before_product {
        display: none;
    }

    .basket_product_info {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: fit-content;
    }

    .basket_product_name {
        margin-left: 0;
    }

    .basket_product_operation {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: fit-content;
    }

    .basket_product_list {
        gap: 50px;
    }

    
    /* BASKET END */
}

@media (max-width: 890px) {

    /* PRODUCT START */
    .product {
        flex-direction: column;
    }

    .product>div {
        align-self: center;
    }

    .product_second {
        margin-top: 25px;
    }

    /* PRODUCT END */
}

@media (max-width: 960px) {
    .menu_btn {
        display: block;
    }

    .nav_big_screen {
        display: none;
    }
}

@media (max-width: 611px) {
    .profile_orders_list {
        justify-content: center;
    }
}